.mySwiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sliderimg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.267)), url(../../../../../public/carousel-home.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.sliderTitle {
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.sliderCaption {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    width: 722px;
}

.sliderLogo {
    width: 331px;
    height: 232px;
}

.mySwipe:global(.swiper-pagination-bullet) {
    background: #FFFFFF !important;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin: 10px !important;
}

.mySwipe:global(.swiper-pagination-bullet-active) {
    background-color: #9F733C !important;
    opacity: 1 !important;
    width: 15px;
    height: 15px;
}

.mySwipe:global(.swiper-button-next),
.mySwipe:global(.swiper-button-prev) {
    width: 50px;
    height: 100px;
    background-color: #1C1C1C99;
    color: white;
}

.mySwipe:global(.swiper-button-next) {
    right: 0px;
    left: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mySwipe:global(.swiper-button-prev) {
    left: 0px;
    right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mySwipe:global(.swiper-button-next:hover),
.mySwipe:global(.swiper-button-prev:hover) {
    background-color: #1c1c1cc5;
    color: #fff;
}

.mySwipe:global(.swiper-button-disabled) {
    opacity: 0.3 !important;
    pointer-events: none;
}

@media(max-width:992px) {
    .sliderCaption {
        width: 100%;
    }
}

@media(max-width:440px) {
    .sliderLogo {
        width: 142px;
        height: 100px;
    }

    .sliderTitle {
        font-size: 60px;
        line-height: 100px;
    }

    .sliderCaption {
        font-size: 18px;
        width: 100%;
    }

    .mySwiper {
        height: 400px;
    }

    .mySwipe:global(.swiper-button-next),
    .mySwipe:global(.swiper-button-prev) {
        display: none;
    }

    .mySwipe:global(.swiper-pagination-bullet) {
        display: none;
    }
}
