.links {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    line-height: 42.8px;
}

.box {
    background-color: #9F733C;
    padding-left: 10px;
}

.links:hover {
    text-decoration: underline;
}

.subLink {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 42.8px;
}