.mice {
    padding-top: 100px;
}
.box {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
}

.caption {
    margin-top: 30px;
}

@media (max-width:768px) {
    .mice {
        padding-top: 73px;
    }

}