* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
}

html[dir="rtl"] body {
  font-family: 'tajawal';
} */


.swal-title-small {
  font-size: 16px;
}

.main-height {
  padding-top: 130px;
}

.css-19kzrtu {
  padding: 2px !important;
}

.css-19opgx6-MuiFormControlLabel-root {
  margin-right: 0 !important;
}

.not-found-title {
  font-size: 70px;
  text-transform: capitalize;
  color: #B18D61;
}

.text-main {
  color: #9F733C;
}

.btn-main {
  /* height: 55px; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #B18D61;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  /* line-height: 17px;
  letter-spacing: 0.75px; */
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  transition: all .2s ease;
  border: 2px solid #B18D61;
}

.btn-primary-main {
  border-radius: 5px;
  background-color: #B18D61;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #B18D61;
  padding: 3px 15px;
}

.btn-outline-primary-main {
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #B18D61 !important;
  padding: 3px 15px;
}

.error-text {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 5px;
}

.btn-main:hover {
  background-color: #FFFFFF;
  color: #B18D61;
  border: 2px solid #B18D61;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7px !important;
}

@media (max-width:768px) {

  .not-found-title {
    font-size: 50px;
  }

  .main-height {
    padding-top: 80px;
  }

  .css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 1px !important;
  }

}