.otpPage {
    padding-top: 100px;
}

.otpBg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.459)), url(../../../public/carousel-home.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
}

.rightBox {
    border-radius: 5px;
    background-color: white;
    padding: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInput {
    height: 44px;
    border: 1px solid #B0BABA;
    border-radius: 3px;
    padding-left: 15px;
}

.loginBtn {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.loginBtn button {
    width: 300px;
    height: 43.33px;
    border-radius: 3px;
    background-color: #B18D61;
    border: none;
}

.loginBtn button span {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: center;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


@media(max-width:768px) {
    .otpPage {
        padding-top: 72px;
    }

    .otpBg {
        height: auto;
        padding-bottom: 30px;
    }
    .rightBox {
        width: 95%;
    }
    

}