.mySwiper {
    width: 100%;
    height: 100vh;
}

.sliderTitle {
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.sliderCaption {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    width: 722px;
}

.sliderLogo {
    width: 331px;
    height: 232px;
}

.global-pagination :global(.swiper-button-next),
.global-pagination :global(.swiper-button-prev) {
    width: 50px;
    height: 100px;
    background-color: #1C1C1C99;
    color: white;
}

.global-pagination :global(.swiper-button-next) {
    right: 0px;
    left: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.global-pagination :global(.swiper-button-prev) {
    left: 0px;
    right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

html[dir="rtl"] .global-pagination :global(.swiper-button-prev) {
    right: 0px;
    left: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

html[dir="rtl"] .global-pagination :global(.swiper-button-next) {
    left: 0px;
    right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.global-pagination :global(.swiper-button-next:hover),
.global-pagination :global(.swiper-button-prev:hover) {
    background-color: #1c1c1cc5;
    color: #fff;
}

.global-pagination :global(.swiper-button-disabled) {
    opacity: 0.3 !important;
    pointer-events: none;
}

.global-navigation :global(.swiper-pagination-bullet) {
    background: #FFFFFF !important;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin: 10px !important;
}

.global-navigation :global(.swiper-pagination-bullet-active) {
    background-color: #9F733C !important;
    opacity: 1 !important;
    width: 15px;
    height: 15px;
}

.global-pagination :global(.swiper-button-prev) {
    left: 0px;
    right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 992px) {
    .sliderLogo {
        width: 142px;
        height: 100px;
    }

    .sliderTitle {
        font-size: 60px;
        line-height: 100px;
    }

    .sliderCaption {
        font-size: 18px;
        width: 100%;
    }

    .mySwiper {
        height: 400px;
    }

    .global-pagination :global(.swiper-button-next),
    .global-pagination :global(.swiper-button-prev) {
        display: none;
    }

    .global-navigation :global(.swiper-pagination-bullet) {
        display: none;
    }
}