.blogs {
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
}

.blogs .blogs-caption h2 {
    font-weight: 500;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    line-height: 38.4px;
    text-align: center;
    margin: auto;
    color: #222222;
}

.blogs .blogs-caption span {
    font-weight: 400;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 11px;
    letter-spacing: 1px;
    color: #212529;
    text-transform: uppercase;
    text-align: center;
}

.blogs .blogs-caption .other-box {
    width: 72.71px;
    height: 24.33px;
    border-radius: 16px;
    border: 1px solid #0000001F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs .blogs-caption p {
    font-weight: 400;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    line-height: 19.5px;
    color: #212529;
}

.blogs .blogs-caption a {
    font-weight: 500;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 11px;
    letter-spacing: 1px;
    text-align: center;
    color: #212529;
    width: 118.97px;
    height: 41px;
    border: 2px solid #212529;
    border-radius: 2px;
    background-color: white;
    text-transform: uppercase;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs .blogs-caption a:hover {
    background-color: black;
    color: white;
}

.trending-box {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.trending-box:hover {
    background-color: rgba(128, 128, 128, 0.055);
    border: 1px solid black;
}

.blogs .trending h6 {
    font-weight: 400;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 14.3px;
    letter-spacing: 2px;
    text-align: center;
    color: #212529;
    position: relative;
    margin-bottom: 50px;
}

.blogs .trending h6::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 4px;
    color: #212529;
    background-color: #212529;
    bottom: -20px;
    left: 43%;
}

.blogs .trending p {
    font-weight: 500;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    color: #212529;
    margin-bottom: 0;
}

.blogs .trending span {
    font-weight: 400;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 16.5px;
    letter-spacing: 0.77px;
    color: #212529;
    opacity: 0.6;
}

@media(max-width:576px) {
    .blogs .blogs-caption h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .blogs {
        padding-top: 100px;

    }
}