.navbar {
    position: fixed;
    z-index: 101 !important;
    height: 70px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.navbar.scrolled {
    background-color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profileIcon,
.welcome {
    color: #FFFFFF;
}

.navbar.scrolled .navbarLink,
.navbar.scrolled .profileIcon,
.navbar.scrolled .welcome,
.navbar.scrolled .searchinput::placeholder {
    color: #9F733C !important;
    transition: color 0.3s ease;
}

.navbar.scrolled .searchinput {
    transition: color 0.3s ease;
    border: 1px solid #9F733C;
}

.navbarLink,
.css-1c69r7k {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0;
    transition: all .1s ease-in-out;
}

.navbarLinkLogin,
.css-1c69r7k {
    font-size: 18px;
    text-transform: capitalize;
}

.navbarLink:hover {
    /* color: #9F733C; */
    border-bottom: 1px solid #FFFFFF;
    width: fit-content;
}

.navbar.scrolled .navbarLink:hover {
    border-bottom: 1px solid #9F733C;
    width: fit-content;
}

.navbarLinkLogin:hover,
.css-1c69r7k:hover {
    background-color: transparent;
    border-radius: 0;
}


.searchinput {
    width: 165px;
    height: 30px;
    border-radius: 45px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding-left: 45px;
    padding-right: 20px;
}

.searchinput:focus {
    border: 1px solid #9F733C;
}

.searchinput:focus {
    outline: 1px solid #9F733C;
}

.searchinput::placeholder {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

.logoImg {
    width: 170px;
    height: auto;
    margin-bottom: 30px;
}

.label {
    font-size: 12.7px;
    font-weight: 400;
    line-height: 14.01px;
    letter-spacing: 0.75px;
    color: #5B6A6A;
    margin-bottom: 5px;
}

.errorText {
    color: #f00;
    font-size: 12px;
    margin-top: 5px;
}

html[dir="rtl"] .contactInput {
    padding-right: 15px;
}

html[dir="rtl"] .navbar {
    padding-right: 10px;
    padding-right: 70px;
    direction: rtl;
}

html[dir="rtl"] .navbarLink {
    text-align: right;
}

html[dir="rtl"] .searchinput {
    padding-right: 20px;
    padding-right: 45px;
}

html[dir="rtl"] .notHaveAccount a {
    margin-right: 5px;
}

.contactInput {
    height: 44px !important;
    border: 1px solid #B0BABA !important;
    border-radius: 3px;
    padding-left: 15px;
}

.notHaveAccount {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.75px;
    color: #000000;

}

.notHaveAccount a {
    color: #B18D61;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    margin-left: 5px;
}

.forgetPass {
    color: #B18D61;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    margin: 0;
}

.loginBtn {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.loginBtn button {
    width: 300px;
    height: 43.33px;
    border-radius: 3px;
    background-color: #B18D61;
    border: none;

}

.loginBtn button span {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.75px;
    text-align: center;
}


@media(max-width:1050px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    html[dir="rtl"] .navbar {
        padding-right: 10px;
        padding-right: 10px;
    }
}

@media(max-width:992px) {
    .navbar {
        justify-content: flex-end !important;
        height: 50px;
    }
}

@media(max-width:768px) {
    .navbarLink {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: none;
        color: #FFFFFF;
    }

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbarlogin {
        gap: 5px !important;
    }

    html[dir="rtl"] .navbar {
        padding-right: 10px;
    }
}