.tripDetails {
    padding-top: 120px;
}

.DynamicBreadcrumbs {
    padding-left: 30px;
    padding-right: 30px;
}

.detailsCaption {
    text-align: center;
    background-color: #FFF6EE;
    padding: 20px;
}

.detailsNav {
    padding-left: 8%;
    padding-right: 8%;
    background-color: #FFE8D4;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    height: 100px;
}

.detailsNav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    color: #222222;
    transition: color 0.3s;
    margin: 6px;
    text-decoration: none;

}

.detailsNav a.active {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    color: #29445B;
}

.overview,
.itinerary,
.inclusions {
    scroll-margin-top: 100px;
}

.tripDetails .overview,
.tripDetails .itinerary {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tripDetails .inclusions {
    padding-left: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overview h2,
.itinerary h2,
.inclusions h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #000000DB;
    text-align: start;
}

.inclusionsBox p {
    font-weight: 600;
    line-height: 24px;
    color: #000000DB;
    font-size: 16px;
}

.inclusionsBox span {
    font-weight: 400;
    line-height: 24px;
    color: #000000DB;
    font-size: 16px;
}

.inclusionsBox .activities-p {
    width: 382.72px;
    font-weight: 400;
    color: #000000DB;
}

.inclusionsBox {
    background-color: #FFF6EE !important;
    padding: 10px;
    border-radius: 4px;
}

.bookBtn button {
    width: 300px;
    height: 36px;
    border-radius: 4px;
    background-color: #B18D61;
    border: 1px solid #B18D61;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 13.67px;
    font-weight: 600;
    line-height: 20px;
}

@media(max-width:768px) {
    .tripDetails {
        padding-top: 80px;
    }

    .DynamicBreadcrumbs {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tripDetails .overview,
    .tripDetails .itinerary {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tripDetails .inclusions {
        padding-left: 2%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}